---
interface Props {
  invert?: boolean;
  class?: string;
}

const { invert = false, class: className = '' } = Astro.props;
---

<div
  class:list={[
    'flex w-fit flex-col items-start gap-1',
    className,
  ]}
>
  <img
    src="/images/Wordmark_1A.svg"
    alt="REBUILD"
    class:list={['h-10 w-auto sm:h-12', invert && 'brightness-0 invert']}
  />
  <span
    class:list={[
      'ml-[0.31%] w-[89.29%] text-center font-ui text-[11px] leading-tight tracking-wide sm:text-xs',
      invert ? 'text-white' : 'text-ink',
    ]}
  >
    The National Disaster Survivors Association
  </span>
</div>
