---
import RichText from '../RichText.astro';

interface Props {
  label?: string;
  statement?: any;
  support?: string;
}

const { label, statement, support } = Astro.props;
---

<section id="about" class="mx-auto max-w-7xl px-6 py-20 lg:py-28 text-center">
  <div class="mx-auto max-w-[882px] ty-h2 [&_mark]:box-decoration-clone" data-animate="fade">
    <RichText value={statement} />
  </div>
  {
    support && (
      <p class="mx-auto mt-10 max-w-[716px] ty-lead" data-animate="fade">
        {support}
      </p>
    )
  }
</section>
